<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.real.name.project.service.repository.ProjectQueryMapper">
    <resultMap id="queryMap" type="com.real.name.project.entity.Project">
        <id property="projectCode" column="project_code"/>
        <result property="startDate" column="start_date"/>
        <result property="address" column="address"/>
        <result property="name" column="name"/>
        <result property="approvalLevelNum" column="approval_level_num"/>
        <result property="approvalNum" column="approval_num"/>
        <result property="areaCode" column="area_code"/>
        <result property="buildCorpCode" column="build_corp_code"/>
        <result property="buildCorpName" column="build_corp_name"/>
        <result property="builderLicenses" column="builder_licenses"/>
        <result property="buildingArea" column="building_area"/>
        <result property="buildingLength" column="building_length"/>
        <result property="buildPlanNum" column="build_plan_num"/>
        <result property="category" column="category"/>
        <result property="completeDate" column="complete_date"/>
        <result property="contractorCorpCode" column="contractor_corp_code"/>
        <result property="contractorCorpName" column="contractor_corp_name"/>
        <result property="description" column="description"/>
        <result property="functionNum" column="function_num"/>
        <result property="invest" column="invest"/>
        <result property="isUpload" column="is_upload"/>
        <result property="lat" column="lat"/>
        <result property="linkMan" column="link_man"/>
        <result property="linkPhone" column="link_phone"/>
        <result property="lng" column="lng"/>
        <result property="nationNum" column="nation_num"/>
        <result property="prjPlanNum" column="prj_plan_num"/>
        <result property="prjSize" column="prj_size"/>
        <result property="prjStatus" column="prj_status"/>
        <result property="propertyNum" column="property_num"/>
    </resultMap>

    <sql id="projectSql">
        pj.project_code, pj.name, pj.contractor_corp_name, pj.contractor_corp_code, pj.category, pj.description, 
        pj.build_corp_name, pj.build_corp_code, pj.builder_licenses, pj.build_plan_num, pj.prj_plan_num, pj.area_code, 
        pj.invest, pj.building_area, pj.building_length, pj.start_date, pj.complete_date, pj.address, pj.lat, pj.lng, 
        pj.prj_status, pj.link_phone, pj.link_man, pj.approval_num, pj.approval_level_num, pj.prj_size, pj.property_num, 
        pj.function_num, pj.nation_num, pj.is_upload
    </sql>

    <select id="searchProject" resultMap="queryMap">
        select
        <include refid="projectSql"/>
        from
        project pj
        <where>
            <if test="projectQuery.name != null">
                and pj.name like '%${projectQuery.name}%'
            </if>
            <if test="projectQuery.address != null">
                and pj.address like '%${projectQuery.address}%'
            </if>
            <if test="projectQuery.category != null">
                and pj.category like '%${projectQuery.category}%'
            </if>
            <if test="projectQuery.prjStatus != null">
                and pj.prj_status = #{projectQuery.prjStatus}
            </if>
        </where>
    </select>

</mapper>