<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.real.name.subcontractor.service.repository.SubContractorMapper">
    <resultMap id="SubContractor" type="com.real.name.subcontractor.entity.SubContractor">
        <id property="subContractorId" column="sub_contractor_id"/>
        <result property="corpCode" column="corp_code"/>
        <result property="corpName" column="corp_name"/>
        <result property="corpType" column="corp_type"/>
        <result property="entryTime" column="entry_time"/>
        <result property="exitTime" column="exit_time"/>
        <result property="bankCode" column="bank_code"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankNumber" column="bank_number"/>
        <result property="bankLinkNumber" column="bank_link_number"/>
        <result property="pmName" column="pm_name"/>
        <result property="pmIdCardNumber" column="pm_id_card_number"/>
        <result property="pmPhone" column="pm_phone"/>
        <result property="createTime" column="create_time"/>
        <result property="contractorStatus" column="contractor_status"/>
        <result property="uploadStatus" column="upload_status"/>
        <association property="project" javaType="com.real.name.project.entity.Project">
            <id property="projectCode" column="project_code"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <resultMap id="SubContractorQuery" type="com.real.name.subcontractor.entity.query.SubContractorQuery">
        <id property="subContractorId" column="sub_contractor_id"/>
        <result property="corpCode" column="corp_code"/>
        <result property="corpName" column="corp_name"/>
        <result property="corpType" column="corp_type"/>
        <result property="entryTime" column="entry_time"/>
        <result property="exitTime" column="exit_time"/>
        <result property="bankCode" column="bank_code"/>
        <result property="bankName" column="bank_name"/>
        <result property="bankNumber" column="bank_number"/>
        <result property="bankLinkNumber" column="bank_link_number"/>
        <result property="pmName" column="pm_name"/>
        <result property="pmIdCardNumber" column="pm_id_card_number"/>
        <result property="pmPhone" column="pm_phone"/>
        <result property="createTime" column="create_time"/>
        <result property="contractorStatus" column="contractor_status"/>
        <result property="uploadStatus" column="upload_status"/>
        <association property="project" javaType="com.real.name.project.entity.Project">
            <id property="projectCode" column="project_code"/>
            <result property="name" column="name"/>
        </association>
    </resultMap>

    <sql id="subContractorQuerySql">
        sc.sub_contractor_id, sc.corp_code, sc.corp_name, sc.corp_type, sc.project_code, sc.entry_time, sc.exit_time, sc.bank_code,
        sc.bank_name, sc.bank_number, sc.bank_link_number, sc.pm_name, sc.pm_id_card_number, sc.pm_phone, sc.contractor_status, sc.upload_status,
        pj.project_code, pj.`name`
    </sql>

    <insert id="saveSubContractor" parameterType="com.real.name.subcontractor.entity.SubContractor"
            keyColumn="sub_contractor_id" keyProperty="subContractorId" useGeneratedKeys="true">
        insert into
          sub_contractor
          (corp_code, corp_name, corp_type, project_code, entry_time, exit_time, bank_code, bank_name, bank_number, bank_link_number,
          pm_name, pm_id_card_number, pm_phone)
        values
          (#{subContractor.corpCode}, #{subContractor.corpName}, #{subContractor.corpType}, #{subContractor.project.projectCode}, #{subContractor.entryTime},
          #{subContractor.exitTime}, #{subContractor.bankCode}, #{subContractor.bankName}, #{subContractor.bankNumber}, #{subContractor.bankLinkNumber},
          #{subContractor.pmName}, #{subContractor.pmIdCardNumber}, #{subContractor.pmPhone})
    </insert>

    <update id="updateSubContractorById" useGeneratedKeys="true">
        update
          sub_contractor
        <set>
            <if test="subContractor.corpCode != null">
                corp_code = #{subContractor.corpCode},
            </if>
            <if test="subContractor.corpName != null">
                corp_name = #{subContractor.corpName},
            </if>
            <if test="subContractor.corpType != null">
                corp_type = #{subContractor.corpType},
            </if>
            <if test="subContractor.project != null and subContractor.project.projectCode != null">
                project_code = #{subContractor.project.projectCode},
            </if>
            <if test="subContractor.entryTime != null">
                entry_time = #{subContractor.entryTime},
            </if>
            <if test="subContractor.exitTime != null">
                exit_time = #{subContractor.exitTime},
            </if>
            <if test="subContractor.bankCode != null">
                bank_code = #{subContractor.bankCode},
            </if>
            <if test="subContractor.bankName != null">
                bank_name = #{subContractor.bankName},
            </if>
            <if test="subContractor.bankNumber != null">
                bank_number = #{subContractor.bankNumber},
            </if>
            <if test="subContractor.bankLinkNumber != null">
                bank_link_number = #{subContractor.bankLinkNumber},
            </if>
            <if test="subContractor.pmName != null">
                pm_name = #{subContractor.pmName},
            </if>
            <if test="subContractor.pmIdCardNumber != null">
                pm_id_card_number = #{subContractor.pmIdCardNumber},
            </if>
            <if test="subContractor.pmPhone != null">
                pm_phone = #{subContractor.pmPhone},
            </if>
            <if test="subContractor.uploadStatus != null">
                upload_status = #{subContractor.uploadStatus},
            </if>
            <if test="subContractor.contractorStatus != null">
                contractor_status = #{subContractor.contractorStatus},
            </if>
        </set>
        where
          sub_contractor_id = #{subContractor.subContractorId}
    </update>

    <select id="findCorpName" resultMap="SubContractorQuery">
        select
          sub_contractor_id, corp_code, corp_name
        from
          sub_contractor
        where
          project_code = #{projectCode}
        and
          contractor_status = #{contractorStatus}
    </select>

    <select id="findContractInPro" resultMap="SubContractorQuery">
        select
          <include refid="subContractorQuerySql"/>
        from
          sub_contractor sc, project pj
        where
          sc.project_code = #{projectCode}
        and
          pj.project_code = sc.project_code
        <if test="contractStatus != null">
            and
              contractor_status = #{contractStatus}
        </if>
    </select>

    <select id="findContractCorpNameInPro" resultMap="SubContractorQuery">
        select
          sc.sub_contractor_id, sc.corp_name, sc.corp_code
        from
          sub_contractor sc, project pj
        where
          sc.project_code = #{projectCode}
        and
          pj.project_code = sc.project_code
        <if test="contractStatus != null">
          and
            sc.contractor_status = #{contractStatus}
        </if>
    </select>

    <select id="findUnRemoveInProject" resultMap="SubContractorQuery">
        select
          <include refid="subContractorQuerySql"/>
        from
          sub_contractor sc, project pj
        where
          sc.project_code = #{projectCode}
        and
          pj.project_code = sc.project_code
        and
          sc.contractor_status = 1
    </select>

    <select id="findById" resultMap="SubContractorQuery">
        select
          <include refid="subContractorQuerySql"/>
        from
          sub_contractor sc, project pj
        where
          sc.sub_contractor_id = #{subContractorId}
        and
          pj.project_code = sc.project_code
    </select>

    <select id="findByIdList" resultMap="SubContractorQuery">
        select
          <include refid="subContractorQuerySql"/>
        from
          sub_contractor sc, project pj
        where
          sc.sub_contractor_id
        in
        <choose>
            <when test="idList != null and idList.size() != 0">
                <foreach collection="idList" item="id" separator="," open="(" close=")">
                    #{id}
                </foreach>
            </when>
            <otherwise>
                (null)
            </otherwise>
        </choose>
        and
          pj.project_code = sc.project_code
    </select>

    <select id="getPersonNumInContractor" resultType="integer">
        select
            count(pd.person_id)
        from
          sub_contractor sc,
	      project_detail pd,
	      worker_group wg
        where
          sc.sub_contractor_id = #{subContractorId}
        and
          sc.sub_contractor_id = wg.sub_contractor_id
        and
          wg.team_sys_no = pd.team_sys_no
    </select>

    <select id="getPersonContractSignNum" resultType="integer">
        select
          count(distinct(pd.person_id))
        from
          sub_contractor sc,
          project_detail pd,
          contract_info cf,
          worker_group wg
        where
          sc.sub_contractor_id = #{subContractorId}
        and
          sc.sub_contractor_id = wg.sub_contractor_id
        and
          wg.team_sys_no = pd.team_sys_no
        and
          pd.id = cf.project_detail_id
    </select>

    <select id="judgeEmptyById" resultType="integer">
        select
          1
        from
          sub_contractor
        where
          sub_contractor_id = #{subContractorId}
        limit
          1
    </select>

    <update id="setProSubContractorRemoveStatus">
        update
          sub_contractor
        set
          contractor_status = 0
        where
          sub_contractor_id = #{subContractorId}
    </update>

    <select id="searchContractorInPro" resultMap="SubContractorQuery">
        select
          <include refid="subContractorQuerySql"/>
        from
          sub_contractor sc, project pj
        where
          sc.project_code = #{subContractorSearchInPro.projectCode}
        and
          pj.project_code = sc.project_code
        <if test="subContractorSearchInPro.corpName != null and subContractorSearchInPro.corpName != ''">
            and
            sc.corp_name like '%${subContractorSearchInPro.corpName}%'
        </if>
        <if test="subContractorSearchInPro.corpCode != null and subContractorSearchInPro.corpCode != ''">
            and
            sc.corp_code = #{subContractorSearchInPro.corpCode}
        </if>
    </select>

    <select id="findUploadStatusById" resultType="integer">
        select
          upload_status
        from
          sub_contractor
        where
          sub_contractor_id = #{subContractorId}
    </select>

</mapper>