<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.real.name.record.service.repository.RecordMapper">
    <resultMap id="recordMap" type="com.real.name.record.entity.Record">
        <id property="recordId" column="record_id"/>
        <result property="deviceId" column="r_device_id"/>
        <result  property="deviceType" column="r_device_type"/>
        <result property="personId" column="r_person_id"/>
        <result property="personName" column="r_person_name"/>
        <result property="timeNumber" column="time_number"/>
        <result property="detailTime" column="detail_time"/>
        <result property="type" column="type"/>
        <result property="path" column="path"/>
        <result property="direction" column="r_direction"/>
        <result property="channel" column="channel"/>
    </resultMap>

    <sql id="recordSql">
        r.record_id, r.device_id as r_device_id, r.device_type as r_device_type,
        r.person_id as r_person_id, r.person_name as r_person_name,
        r.time_number, r.detail_time, r.type, r.path, r.direction as r_direction, r.channel as r_channel
    </sql>

    <insert id="saveRecord" parameterType="com.real.name.record.entity.Record"
    useGeneratedKeys="true" keyColumn="record_id" keyProperty="recordId">
        insert into
          record
          (device_id, device_type, person_id, person_name, `time_number`, detail_time, `type`, path,
          direction, channel)
        values
          (#{deviceId}, #{deviceType}, #{personId}, #{personName}, #{timeNumber}, #{detailTime}, #{type},
          #{path}, #{direction}, #{channel});
    </insert>

    <select id="findAttendancePerson" resultType="com.real.name.record.entity.Record">
        select
          r.record_id, r.device_id, r.person_id, r.time_number, r.detail_time
        from
          record r
        where
          r.device_id = #{deviceId}
        and
          r.person_id = #{personId}
        and
          r.time_number = #{timeNumber}
        group by r.device_id, r.person_id, r.time_number
    </select>
    
    <select id="getTodayRecord" resultMap="recordMap">
        select
          record_id, person_id, time_number, direction as r_direction
        from
          record
        where
          time_number &gt;= #{todayTime}
        and
          time_number &lt;= #{tomorrowTime}
        and
          person_id = #{personId}
        order by
          time_number
    </select>



</mapper>

















